.form_bg{
    background: url(../Img/bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.form_horizontal{
    font-family: 'lato', sans-serif;
    text-align: center;
}
.form_horizontal .form_icon{
    color: #fff;
    font-size: 100px;
    line-height: 85px;
    margin: 0 0 13px;
}
.form_horizontal .title{
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 035px 0;
}
.form_horizontal .form-group{
    margin: 0 0 10px;
    position: relative;
}

.form_horizontal .input-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #777;
}

.form_horizontal .form-control{
    color: #555;
    background-color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    height: 37px;
    padding: 2px 15px 2px 35px;
    border: none;
    border-radius: 50px;
}

.form_horizontal .form-control::placeholder{
    color:  rgba(0, 0, 0, 0.7);
    font-size: 14px;
    text-transform: capitalize;
}

.form_horizontal .btn{
    color: #fff;
    background-color: #222;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
}

.form_horizontal .form-options{
    margin: 0;
    padding: 0;
    list-style: none;
}

.form_horizontal .form-options li a{
    color: #fff;
    letter-spacing: 0.5px;
    margin: 0 0 10px;
    display: block;
}

.form_horizontal .form-options li a i{
    font-size: 12px;
}